<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Chấm công ra</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string/>
			<key>UIApplicationShortcutItemType</key>
			<string>CheckOut</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.arrow.up.on.square</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Chấm công vào</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string/>
			<key>UIApplicationShortcutItemType</key>
			<string>CheckIn</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.arrow.down.on.square</string>
		</dict>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to log in </string>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your microphone will be used to record your speech when you press the "Start Recording" button</string>
	<key>DTXcodeBuild</key>
	<string>17B100</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UISupportedDevices</key>
	<array>
		<string>MacFamily20,1</string>
		<string>RealityFamily22,1</string>
		<string>iPad11,1</string>
		<string>iPad11,2</string>
		<string>iPad11,3</string>
		<string>iPad11,4</string>
		<string>iPad11,6</string>
		<string>iPad11,7</string>
		<string>iPad12,1</string>
		<string>iPad12,2</string>
		<string>iPad13,1</string>
		<string>iPad13,10</string>
		<string>iPad13,11</string>
		<string>iPad13,16</string>
		<string>iPad13,17</string>
		<string>iPad13,18</string>
		<string>iPad13,19</string>
		<string>iPad13,2</string>
		<string>iPad13,4</string>
		<string>iPad13,5</string>
		<string>iPad13,6</string>
		<string>iPad13,7</string>
		<string>iPad13,8</string>
		<string>iPad13,9</string>
		<string>iPad14,1</string>
		<string>iPad14,10</string>
		<string>iPad14,11</string>
		<string>iPad14,2</string>
		<string>iPad14,3-A</string>
		<string>iPad14,3-B</string>
		<string>iPad14,4-A</string>
		<string>iPad14,4-B</string>
		<string>iPad14,5-A</string>
		<string>iPad14,5-B</string>
		<string>iPad14,6-A</string>
		<string>iPad14,6-B</string>
		<string>iPad14,8</string>
		<string>iPad14,9</string>
		<string>iPad16,3-A</string>
		<string>iPad16,3-B</string>
		<string>iPad16,4-A</string>
		<string>iPad16,4-B</string>
		<string>iPad16,5-A</string>
		<string>iPad16,5-B</string>
		<string>iPad16,6-A</string>
		<string>iPad16,6-B</string>
		<string>iPad5,1</string>
		<string>iPad5,2</string>
		<string>iPad5,3</string>
		<string>iPad5,4</string>
		<string>iPad6,11</string>
		<string>iPad6,12</string>
		<string>iPad6,3</string>
		<string>iPad6,4</string>
		<string>iPad6,7</string>
		<string>iPad6,8</string>
		<string>iPad7,1</string>
		<string>iPad7,11</string>
		<string>iPad7,12</string>
		<string>iPad7,2</string>
		<string>iPad7,3</string>
		<string>iPad7,4</string>
		<string>iPad7,5</string>
		<string>iPad7,6</string>
		<string>iPad8,1</string>
		<string>iPad8,10</string>
		<string>iPad8,11</string>
		<string>iPad8,12</string>
		<string>iPad8,2</string>
		<string>iPad8,3</string>
		<string>iPad8,4</string>
		<string>iPad8,5</string>
		<string>iPad8,6</string>
		<string>iPad8,7</string>
		<string>iPad8,8</string>
		<string>iPad8,9</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>27A261</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleName</key>
	<string>WINCARE</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>WINCARE</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition will be used to determine which words you speak into this device microphone</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>23B77</string>
	<key>DTXcode</key>
	<string>2611</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTSDKName</key>
	<string>iphoneos26.1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>NewLunarYear</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WCE_NewLunarYear</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartVmService._tcp</string>
	</array>
	<key>NSLocationUsageDescription</key>
	<string>This application requires location for check-in and check-out staff in "Chấm công" tab</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application requires location for check-in and check-out staff in "Chấm công" tab</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This application requires location for check-in and check-out staff in "Chấm công" tab</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.674854347076-vh47pg8hhq5hspk3kk04o5enpmfl1uf3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.vn.masangroup.wincare</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wincare</string>
			</array>
			<key>CFBundleURLName</key>
			<string>vn.masangroup.wincare</string>
		</dict>
	</array>
	<key>NSLocationDefaultAccuracyReduced</key>
	<string>NO</string>
	<key>CFBundleIdentifier</key>
	<string>vn.masangroup.wincare</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>When having problems in business, user can describe in a note, take a picture or select in librabry about their problem. Then user can upload it to support team.</string>
	<key>CFBundleExecutable</key>
	<string>WINCARE</string>
	<key>BuildMachineOSBuild</key>
	<string>24G830</string>
	<key>Supported interface orientations </key>
	<array>
		<string>Portrait (top home button)</string>
		<string>Portrait (bottom home button)</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
		<string>msauth</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>armv7</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This application requires location for check-in and check-out staff in "Chấm công" tab</string>
	<key>NSUserActivityTypes</key>
	<dict>
		<key>openSpeechMainPage</key>
		<string>vn.masangroup.wincare.openSpeechMainPage</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need to access camera for scanning Barcode</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Cần quyền Bluetooth để kết nối máy in</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
					<key>UISceneDelegateClassName</key>
					<string>WINCARE.SceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>BeVietnamPro-BoldItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>BeVietnamPro-Bold.ttf</string>
		<string>BeVietnamPro-Regular.ttf</string>
		<string>BeVietnamPro-SemiBold.ttf</string>
		<string>BeVietnamPro-Medium.ttf</string>
	</array>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Checkin_Order</key>
		<string>Precise Location is used to checkin checkout for staff, reduce fraud in sales, calculate KPI</string>
	</dict>
	<key>DTSDKBuild</key>
	<string>23B77</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Cần quyền Bluetooth để kết nối máy in</string>
	<key>DTPlatformVersion</key>
	<string>26.1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.11</string>
</dict>
</plist>